@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
.historia {
    margin: 0 auto;
    width: 60%;
    font-family: "Questrial", sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.historia a {
    text-decoration: none;
    color: #acd060;
    font-weight: bold;
}

.historia a:hover {
    color: #007bc4;
}

