/* @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Patrick+Hand&display=swap');

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent
}

body {
    line-height:1;
    font-family: arial;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
    font-family: "Kosugi Maru", sans-serif;
    text-align: center;
    margin-top: 1.5em;
    padding-bottom: .7em;
    border-bottom: 3px solid #9f89c9;
}

h3 {
    font-size: 20px;
    font-family: "Kosugi Maru", sans-serif;
}



article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block
}

nav ul {
    list-style:none
}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:none}

a {
    margin:0;padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}


body,html {
	background-color: #FFF;
}

header {
    background: url(../imagenes/friends-sofa.jpg) no-repeat bottom/100%;
    padding: 0px 30px;
    max-width: 1000px;
    height: 400px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.menu {
    display: inline-block;
}

.menu a {
    background: #F7CD2A;
    padding: 2px 10px;
    font-family: "Patrick Hand", cursive;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #444;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: .2em 1em;
}

#activo {
    background-color: #9f89c9;
    padding-top: .7em;
}

#rojo:hover {
    background-color: #D22028;
    padding-top: .7em;
}

.amarillo:hover {
    padding-top: .7em;
}
#azul:hover {
    background-color: #5BA6EC;
    padding-top: .7em;
}

.menu li {
    display: inline-block;
    margin-bottom: 6px;
}

.menu ul {
    list-style: none;
}

#pageContent {
    max-width: 1000px;
    margin: auto;
    border: none;
}

main {
	float: left;
	width: 60%;
}

aside {
	float: right;
	width: 30%;
}

article {
    border-bottom: 2px solid #9f89c9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

article h3 {
    font-weight: normal;
    margin-bottom: 12px;
    text-transform: capitalize;
}

article p {
	line-height: 1.2em;
    font-size: 17px;
}

footer {
    max-width: 1060px;
    clear: both;
	margin: auto;
    background-color: #383737;
}

footer section {
    padding: 1em;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-weight: bold;
}

footer ul li {
    list-style-type: none;
    padding-left: 1em;
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: #F7CD2A;
    color: white;
    font-weight: 400;
}

footer  a:hover {
    color: #D22028;
}

footer a:visited {
    color: #9f89c9;
}

footer img {
    width: 25%;
    float: right;
    position: relative;
    bottom: 7px;
    margin-right: 6em;
}

.webs {
    width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.webs p {
    color: #F7CD2A;
}

.autora p {
    color: #5BA6EC;
}

.autora {
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
    width: 450px;
}

aside > div {
	margin: 10px auto;
	background: #AEC6CF;
	min-height: 200px;
}

body > section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    /* border-bottom: 1px solid #999; */
    color: #333;
}

@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}

@media screen and (max-width: 600px) {
	main {
		float: none;
		width: 100%;
	}
	aside {
		float: none;
		width: 100%;
	}

}

/* ------------------------------------------------ */

.curiosidad {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 17px;
    line-height: 1.3em;
    padding-left: 1.3em;
    padding-right: 1.3em;
}

.curiosidad h2 {
    margin-top: 1em;
}

#sidebar-uno {
    background: url(../imagenes/aside5.jpg) no-repeat center/100%;
}

#sidebar-dos {
    background: url(../imagenes/aside6.jpg) no-repeat center/100%;
}

#sidebar-tres {
    background: url(../imagenes/aside7.jpg) no-repeat center/100%;
}

#sidebar-cuatro {
    background: url(../imagenes/aside8.webp) no-repeat center/100%;
}

.flecha {
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: #F7CD2A;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
  }
  
  .flecha:hover {
    background-color: #9f89c9;
    border-radius: 50%;
  }