@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../imagenes/efectos-textos/textos.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* -----------------------LOGO----------------------- */

.anterior {
  text-decoration: none;
  width: 100vw;
  top: 0;
  position: fixed;
  height: 8.6vh;
  padding: .8em;
  background-color: #252928d8;
  color: #fff;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-content: start;
  align-items: center;
}

.anterior img {
  width: 100%;
}

.logo {
  max-width: 80px;
}

#logo-img {
  transition: transform .5s;
}

#logo-img:hover {
  transform: scale(115%) rotate(45deg);
}

#logo-titulo {
  margin-left: 1em;
  text-decoration: none;
  font-size: 2em;
}


/*  ----------------------INTRO--------------------------- */

.intro {
  width: 60%;
  margin: 0 auto;
  margin-top: 10em;
  padding-top: 7em;
  padding: 3em;
  margin-bottom: 5em;
  background-color: #25292875;
}

.intro p,
.intro .formatos {
  margin-bottom: 1.3em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}


.size, .style, .weight, .color-texto, .espaciado, .mayusculas, .decoracion {
    color: #bbbaba;
}

.size:hover, .style:hover, .weight:hover, .espaciado:hover, .mayusculas:hover, .decoracion:hover {
    color: #fff;
}

.size:hover {
    font-size: 30px;
}

.style:hover {
    font-style: oblique;
}

.weight:hover {
    font-weight: bold;
}

.color-texto:hover {
    color: #98c429;
}

.espaciado:hover {
    letter-spacing: 5px;
}

.mayusculas:hover {
    text-transform: uppercase;
}

.decoracion:hover {
    text-decoration:line-through ;
}



/*  ----------------------APARTADOS--------------------------- */

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 7em;
    padding-top: 7em;
    padding: 3em;
    margin-bottom: 5em;
}
  

.color1 {
    background-color: #799c20de;
}

.color1 a {
    color: #252928;
    font-weight: 600;
}

.color2 {
    background-color: #252928e7;
}

.container .container-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container .container-inner .main-content {
    flex-basis: 60%;
    height: 90%;
    margin-top: 2em;
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}
  
.main-headings,
.main-headings2 {
  width: 95%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

.heading {
   margin-top: 0;
   margin-left: 60px;
}
  
.heading1,
.heading2 {
  margin: 0;
  margin-top: auto;
  font-size: 300%;
  font-weight: normal;
  letter-spacing: -2px;
}
  
.heading1 {
  margin-left: 50px;
}

.heading2 {
  margin-left: 150px;
}

.heading3 {
  text-align: right;
  font-size: 350%;
  font-weight: 800;
  letter-spacing: 2px;
}

.main-headings2 .heading3 {
  text-align: left;
  margin-left: 20px;
}


.more-info {
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-left: 30px;
  font-size: 110%;
  line-height: 25px;
}

.more-info p {
  margin-top: 1em;
}

.morado {
  color: #daa6f0;
}

.azul-verdoso {
  color: #8aeee9;
}

.lila {
  color: #a91fbb;
}

.azul {
  color: #469dcf;
}

.azulado {
  color: #97bcd1;
}

.verde {
  color: #38b83e;
}

.naranja {
  color: #b93a08;
}

.rosa {
  color: #d127c3;
}

.margen {
  margin-left: 25px;
}

.container .container-inner .image-wrapper {
  flex-basis: 40%;
  order: 2;
}

.container .container-inner .image-wrapper .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container .container-inner .image-wrapper .image-container .ejemplo {
  width: 80%;
  height: 100%;
  position: relative;
  background-color: #fff;
  color: #2529289f;
  padding-top: 32em;
}

.container .container-inner .image-wrapper .image-container .ejemplo h4 {
  font-size: 150%;
  margin-left: 30px;
  margin-bottom: .3em;
}

.container .container-inner .image-wrapper .image-container .ejemplo h3 {
  font-size: 270%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  /* margin-right: 30px; */
  text-shadow: -4px 0 0 #98c429c4;
}

.container .container-inner .image-wrapper .image-container img {
  width: 80%;
  height: auto;
  position: relative;
}

.container .container-inner .image-wrapper .image-container .ejemplo2 {
  width: 80%;
  height: 100%;
  position: relative;
  background-color: #fff;
  font-weight: 600;
  /* padding-top: 10em; */
}

.container .container-inner .image-wrapper .image-container .ejemplo2 p {
  margin: 5em 2em 5em 2em;
}