@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../imagenes/efectos-ventanas/efecto-ventanas.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* -----------------------LOGO----------------------- */

.anterior {
  text-decoration: none;
  width: 100vw;
  top: 0;
  position: fixed;
  height: 8.6vh;
  padding: .8em;
  background-color: #252928d8;
  color: #fff;
  z-index: 1;
  display: flex;
  justify-content: start;
  align-content: start;
  align-items: center;
}

.anterior img {
  width: 100%;
}

.logo {
  max-width: 80px;
}

#logo-img {
  transition: transform .5s;
}

#logo-img:hover {
  transform: scale(115%) rotate(45deg);
}

#logo-titulo {
  margin-left: 1em;
  text-decoration: none;
  font-size: 2em;
}


/*  ----------------------INTRO--------------------------- */

.intro {
  width: 60%;
  margin: 0 auto;
  margin-top: 10em;
  padding-top: 7em;
  padding: 3em;
  margin-bottom: 5em;
  background-color: #25292875;
}

.intro p,
.intro .formatos {
  margin-bottom: 1.3em;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5em;
}



/*  ----------------------APARTADOS--------------------------- */

.container {
    width: 60%;
    margin: 0 auto;
    margin-top: 7em;
    padding-top: 7em;
    padding: 3em;
    margin-bottom: 5em;
}
  

.color1 {
    background-color: #799c20de;
}

.color1 a {
    color: #252928;
    font-weight: 600;
}

.color2 {
    background-color: #252928e7;
}

.container .container-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container .container-inner .main-content {
    flex-basis: 60%;
    height: 90%;
    margin-top: 2em;
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.container .container-inner .main-content2 {
    flex-basis: 60%;
    height: 60%;
    margin-top: 2em;
    order: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}
  
.main-headings,
.main-headings2 {
  width: 95%;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

.heading {
   margin-top: 0;
   margin-left: 60px;
}
  
.heading1,
.heading2 {
  margin: 0;
  margin-top: auto;
  font-size: 300%;
  font-weight: normal;
  letter-spacing: -2px;
}
  
.heading1 {
  margin-left: 50px;
}

.heading2 {
  margin-left: 220px;
}

.heading3 {
  text-align: right;
  margin-right: 110px;
  font-size: 350%;
  font-weight: 800;
  letter-spacing: 2px;
}


.more-info {
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-left: 30px;
  font-size: 110%;
  line-height: 25px;
}

.more-info p {
  margin-top: 1em;
}

.morado {
  color: #d59dec;
  font-weight: 600;
}

.azul {
  color: #9bd6f8;
  font-weight: 600;
}

#nomenclatura {
  margin: 2em 2.5em;
}

.container .container-inner .image-wrapper {
  flex-basis: 40%;
  order: 2;
}

.container .container-inner .image-wrapper .image-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}





/*  ----------------------POP UP--------------------------- */

.container .container-inner .image-wrapper .image-container .ejemplo {
  width: 80%;
  /* height: 100%; */
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 201em .5em;
  /* box-shadow: 1px 1px 15px 5px #25292873; */
}

.container .container-inner .image-wrapper .image-container .ejemplo h3 {
  font-size: 270%;
  text-transform: uppercase;
  color: #252928;
  
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1em;
  font-size: 250%;
  color: #fff;
  background-color: #252928;
  padding: .1em 1em;
  box-shadow: 1px 1px 15px 5px #25292873;
}

.popup:hover {
  background-color: #252928a8;
}


.popup .popuptext {
  visibility: hidden;
  width: 430px;
  background-color: #4e5251;
  font-size: 15px;
  color: #fff;
  text-align: left;
  /* border-radius: 6px; */
  padding: 10px 8px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: -50%;
}

.popup .popuptext li {
  margin-bottom: .5em;
  line-height: 1.2em;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.ejemplo p {
  color: #7b7c7c;
  margin-top: .5em;
}

/*  ----------------------BOTONES--------------------------- */

.container .container-inner .image-wrapper .image-container .ejemplo2 {
  width: 80%;
  height: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
  
}


.ejemplo2 .botones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.botones a {
  text-decoration: none;
  background-color: #96c02a;
  padding: .5em 1em;
  font-size: 130%;
  box-shadow: 1px 1px 20px 3px #2529283f;
  color: #252928;
  transition: transform .5s;
}

.botones .atras,
.botones .siguiente {
  margin: .7em;
  transition: transform .5s;
}

.botones .atras:hover,
.botones .siguiente:hover {
  transform: scale(110%);
}

.botones a:hover {
  background-color: #8cb42577;
}


.ejemplo2 p {
  color: #7b7c7c;
  margin-top: 1.5em;
  text-align: center;
}

