@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");
body {
  font-family: Merriweather, serif;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 117px;
  position: relative;
  bottom: 18px;
  left: 35px;
  z-index: 999999;
}

img {
  width: 100%;
  display: block;
  margin-top: 3em;
}

p {
  line-height: 1.3;
}
@media (min-width: 1170px) {
  p {
    font-size: 1.2rem;
  }
}

.two-thirds-image-left-one-third-
-right {
  position: relative;
}
@media (min-width: 700px) {
  .two-thirds-image-left-one-third-text-right {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1rem;
  }
}
@media (min-width: 1170px) {
  .two-thirds-image-left-one-third-text-right {
    grid-column-gap: 2rem;
  }
}
@media (min-width: 700px) {
  .two-thirds-image-left-one-third-text-right .image {
    grid-column: 1/8;
    height: 100%;
  }
  .two-thirds-image-left-one-third-text-right .image img {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    position: sticky;
    top: 0;
  }
}
@media (min-width: 1170px) {
  .two-thirds-image-left-one-third-text-right .image {
    grid-column: 1/9;
  }
}
.two-thirds-image-left-one-third-text-right .text {
  padding: 1rem;
  margin-right: 1em;
}
@media (min-width: 700px) {
  .two-thirds-image-left-one-third-text-right .text {
    grid-column: 8/span all;
  }
}
@media (min-width: 1170px) {
  .two-thirds-image-left-one-third-text-right .text {
    grid-column: 9/span all;
  }
}
.two-thirds-image-left-one-third-text-right .text .title {
  font-size: 3rem;
  margin: 2rem 0;
}
@media (min-width: 700px) {
  .two-thirds-image-left-one-third-text-right .text .title {
    font-size: 4rem;
  }
}
.two-thirds-image-left-one-third-text-right .text .lead,
.three-col-text .lead,
.caption .lead {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 1rem 0 3rem;
  line-height: 1.5;
}
@media (min-width: 700px) {
  .two-thirds-image-left-one-third-text-right .text .lead {
    font-size: 1.4rem;
  }
}

.one-by-one {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.wide-tall-cap-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}
@media (min-width: 600px) {
  .wide-tall-cap-left {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (min-width: 600px) {
  .wide-tall-cap-left .image-1 {
    grid-row: 1;
    grid-column: 1/-1;
  }
}
@media (min-width: 600px) {
  .wide-tall-cap-left .image-2 {
    grid-row: 2;
    grid-column: 6/span 7;
  }
}
.wide-tall-cap-left .caption {
  max-width: 70vw;
}
@media (min-width: 600px) {
  .wide-tall-cap-left .caption {
    font-size: 0.8rem;
    margin: 2rem 0.5rem;
  }
}
@media (min-width: 600px) {
  .wide-tall-cap-left .caption-1 {
    grid-row: 2;
    grid-column: 1/span 2;
  }
}
@media (min-width: 600px) {
  .wide-tall-cap-left .caption-2 {
    grid-row: 2;
    grid-column: 3/span 2;
  }
}

.three-col-text {
  -moz-columns: 3;
       columns: 3;
  -moz-column-width: 300px;
       column-width: 300px;
  padding: 1rem;
}
.three-col-text p:first-child {
  margin-top: 0;
}


footer {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 2em;
}

footer p,
.autora {
  margin-bottom: .5em;
  font-size: 17px;
  font-weight: 600;
  color: #000;
}

footer a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #000;
}