.main {
    margin-top: 4.5em;
}

.main h2 {
    font-size: 40px;
    font-family: 'Cambria';
    font-style: italic;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 2em;
    color: #33411a;
}

iframe {
    width: 100%;
    margin-bottom: 2em;
}

.lenda {
    width: 90%;
    margin-bottom: 3em;
}

.lenda h3 {
    font-size: 30px;
    font-family: 'Cambria';
    font-style: italic;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1em;
    color: #33411a;
}

.lenda p {
    font-size: 20px;
    color: #33411a;
    margin-bottom: 1.2em;
}

ul {
    list-style-type: square;
    color: #293613;
    font-size: 20px;
}


#visita p {
    margin-top: 3em; 
}

#visita a {
    font-size: .8em;
    text-decoration: none;
    color: black;
    font-weight: normal;
}


