* {
    margin: 0 auto;
    font-family: 'Calibri';
}

body {
    background-color: #fff;
    width: 60%;
}

header h1 {
    position: absolute;
    top: 100px;
    left: 600px;
    font-size: 60px;
    font-family: 'Cambria';
    font-style: italic;
    font-weight: bold;
    color: #262F19;
}

header img {
    margin-top: 75px;
}

nav {
    width: 47%;
    position: absolute;
    top: 165px;
    left: 595px;
    border-bottom: 3px solid #262F19;
    padding: .7em;

}

nav a {
    text-decoration: none;
    color: #262F19;
    font-size: 1.3em;
    line-height: 1.5em;
    padding-left: .3em;
    padding-right: .3em;
}

nav a:hover {
    color: #2936138e;
    padding-left: .3em;
    padding-right: .3em;
}


footer {
    width: 100%;
    margin-left: 3em;
    height: 230px;
    border-top: 2px solid #293613;
    color: white;
    margin-top: 5%;
    padding: 1.5em;
}

.autora {
    margin-bottom: 2em;
}

.autora a {
    text-decoration: none;
    color: #262F19;
    font-size: 20px;
    font-weight: 500;
}

.escudos img{
    width: 6%;
    margin-right: 3%;
}

#escudo-rois {
    width: 9%;
}