.main {
    margin-top: 4.5em;
}

.main h2 {
    font-size: 40px;
    font-family: 'Cambria';
    font-style: italic;
    text-align: left;
    margin-bottom: 1em;
    color: #33411a;
}

.main p {
    font-size: 20px;
    text-align: left;
    line-height: 1.7em;
    margin-bottom: 1em;
}

.main span {
    font-weight: bold;
    color: #293613;
}

.selector {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
}

.selector .seleccion {
    width: 20%;
    background-color: #293613;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 1em;
    box-shadow: 1px 1px 10px 5px #ccc;

}

.seleccion:hover {
    transform: scale(130%);
    background-color: #293613bd;
}

.selector .seleccion a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Cambria';
}

iframe {
    width: 100%;
    margin-top: 7em;
    margin-bottom: 7em;
}

.tabla {
    width: 75%;
    margin-left: 12%
}

.tabla caption {
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: bold
}

.tabla tr {
    background-color: #293613;
    color: #fff;
}

.tabla tr>th {
    width: 25%;
    text-align: center;
}

.tabla tr>td {
    background-color: #fff;
    border-bottom: 3px solid #293613;
    color: #293613;
    text-align: center;
}

.tabla .negrita {
    font-weight: bold;
    text-transform: uppercase;
}
