@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

aside,
section {
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 20px 10px;
  background-color: #F28C25;
/*  background-image: linear-gradient(315deg, #C74126 0%, #F7C762 74%);*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

p {
  margin: 0;
  font-family: "Cabin Sketch", cursive;
  display: block;
  color: rgba(0, 15, 85, 0.27);
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 40px;

    @media (max-width: 760px) {
      margin-bottom: 30px;
    }
  }

  &:last-child {
    margin-bottom: 34vmin;
  }

  @media (max-width: 760px) {
    font-size: 16px;
  }
}

h1,
h2 {
  margin: 0;
  line-height: 40px;
  font-weight: 400;

  @media (max-width: 760px) {
    line-height: 30px;
  }
}

h1 {
  color: rgba(222, 66, 43, 0.67);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.51);
  font-family: "Caveat", cursive;
  font-size: 54px;
  margin-bottom: 10px;

  @media (max-width: 760px) {
    font-size: 42px;
  }
}

h2 {
  color: rgba(33, 33, 33, 0.5);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-family: "Special Elite", cursive;
  font-size: 32px;

  @media (max-width: 760px) {
    font-size: 24px;
  }
}

.scene {
  position: relative;
  max-width: 85vw;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.68);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 20px 28px;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fade-in 1s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
  }
}

/*
.motocycle {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 17%;
  left: 12%;
}
*/

.sprite {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.sprite_repeat_x {
  background-repeat: repeat-x;
  background-size: cover;
}

.sprite_type_motocycle {
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: animation-motocycle 0.3s ease-in-out infinite;

  @keyframes animation-motocycle {
    0% {
      transform: translateY(-0.5%);
    }
    100% {
      transform: translateY(0.5%);
    }
  }
}

.sprite_type_wheel {

  width: 30%;
  height: 30%;
  z-index: 1;
  animation: animation-wheel 0.12s linear infinite reverse;

  @keyframes animation-wheel {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.sprite_position_left {
  top: 42%;
  left: 5%;
}

.sprite_position_right {
  top: 44%;
  right: 3%;
}

.sprite_type_road {

  background-image: url(sanisidro.jpg);
  width: 100%;
  height: 100%;
  animation: animation-road 0.12s ease-in-out infinite;
  border: 2px solid #27333f;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  @keyframes animation-road {
    0% {
      background-position: 50%;
    }
    100% {
      background-position: 80% 50%;
    }
  }
}

.motocycle-on-road {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

/**
 * CSS folded poster effect form
 * https://codepen.io/lynnandtonic/pen/PoZpjOr
 */

.poster {
  width: 60vmin;
  height: 60vmin;
  padding: 6vmin;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  filter: saturate(70%) contrast(85%);

  &::before,
  &::after {
    content: "";
    width: 100%;
    left: 0;
    position: absolute;
  }

  &::before {
    height: 4%;
    bottom: -4%;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        177deg,
        rgba(0, 0, 0, 0.22) 10%,
        transparent 50%
      ),
      linear-gradient(-177deg, rgba(0, 0, 0, 0.22) 10%, transparent 50%);
    background-size: 49% 100%;
    background-position: 2% 0, 98% 0;
  }

  &::after {
    height: 100%;
    top: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.1) 0.5%,
        rgba(0, 0, 0, 0.15) 1.2%,
        transparent 1.2%
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0.5%,
        rgba(0, 0, 0, 0.15) 1.2%,
        transparent 1.2%
      ),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1) 0.5%,
        rgba(0, 0, 0, 0.15) 1.2%,
        transparent 1.2%
      ),
      linear-gradient(265deg, rgba(0, 0, 0, 0.2), transparent 10%),
      linear-gradient(5deg, rgba(0, 0, 0, 0.2), transparent 15%),
      linear-gradient(-5deg, rgba(0, 0, 0, 0.1), transparent 10%),
      linear-gradient(5deg, rgba(0, 0, 0, 0.1), transparent 10%),
      linear-gradient(-265deg, rgba(0, 0, 0, 0.2), transparent 10%),
      linear-gradient(-5deg, rgba(0, 0, 0, 0.2), transparent 15%),
      linear-gradient(266deg, rgba(0, 0, 0, 0.2), transparent 10%);
    background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%,
      50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%,
      50% 33.3333%;
    background-position: right top, left center, left bottom, left top, left top,
      right top, left center, right center, right center, left bottom;
  }
}

/* End of CSS folded poster effect */

.poster_position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 12em;
	bottom: 7em;
  z-index: 2;
  transform: rotate(15deg);
}

.filter {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filter_type_gradient {
/*
  background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
  opacity: 0.57;
*/
}

.lyrics {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lyrics__container {
  position: relative;
	left: 10%;
	bottom: 2%;
	width: 45vw;
  max-height: 70vh;
  margin: 0 auto;
  padding: 40px;
	padding-bottom: 40em;
/*  overflow-y: auto;*/
  transform: rotate(-2deg);
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.26),
    inset 0px -15px 50px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  -ms-overflow-style: none;
/*
  scrollbar-width: none;
  cursor: n-resize;
*/
  user-select: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

/*
  &::-webkit-scrollbar {
    display: none;
  }
*/
}

.title__container {
  text-align: center;
  margin-bottom: 38px;
  position: relative;
  left: -38px;

  @media (max-width: 760px) {
    left: -24px;
    margin-bottom: 28px;
  }
}

.heart__container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.heart {
  opacity: 0.6;
  fill: #554d73;
  width: 40px;
  animation: pulse 1s ease infinite;

  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: drop-shadow(0 0 2px #000);
    }
    50% {
      transform: scale(1.2);
      filter: drop-shadow(0 0 4px #000);
    }
    100% {
      transform: scale(1);
      filter: drop-shadow(0 0 2px #000);
    }
  }
}

/*
.scroll-text {
  position: absolute;
  top: 12px;
  right: 29px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.37);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.27);
  line-height: 110%;
  font-family: "Caveat", cursive;
}
*/

h3{
	font-family: "Caveat", cursive;
	margin: 0;
  font-family: "Cabin Sketch", cursive;
  display: block;
  color: rgba(0, 15, 85, 0.27);
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.video {
  width: auto;
  height: 100vmax;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    opacity: 0.3;
  }
}

.controls {
  z-index: 3;
  position: absolute;
  top: 38px;
  left: 24px;
}

.mute {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  opacity: 0.62;
  transition: opacity 0.1s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &::after {
    opacity: 0;
    content: "";
    width: 3px;
    height: 42px;
    background-color: rgb(222, 66, 43);
    position: absolute;
    top: -3px;
    left: 19px;
    transform: rotate(45deg) scaleY(0);
    transition: 0.2s ease-in-out;
    transition-property: opacity, transform;
  }

  &.is-muted::after {
    opacity: 1;
    transform: rotate(45deg) scaleY(1);
  }
}

.mute__icon {
  width: 34px;
  height: auto;
  filter: drop-shadow(0 0 1px #000);
}
