

h1 {
	color: white;
	text-align: center;
	margin: 0 0 5% 0;
	padding: 0.8em;
	margin: 0 0 5% 0;
}

h3 {
	color: white;
}

.container{
    border-bottom: 5px solid #5c130e;
}
.boxesContainer {
	height: 100vh;

}

#intolerancias {
	width: 15%;
}

.cardBox {
	float: left;
	font-size: 1.2em;
	margin: 1% 0 0 7%;
	perspective: 800px;
	transition: all 0.3s ease 0s;
	width: 23.7%;
align-content: center;
    align-items: center;
}

.cardBox:hover .card {
	transform: rotateY(180deg);
}

.card {
	background: #f9d972;
	cursor: default;
	height: 400px;
	transform-style: preserve-3d;
	transition: transform 0.4s ease 0s;
	width: 100%;
	-webkit-animation: giro 1s 1;
	animation: giro 1s 1;
}

.card p {
	margin-bottom: 1.6em;
}

.card .front,
.card .back {
	backface-visibility: hidden;
	box-sizing: border-box;
	color: white;
	display: block;
	font-size: 1.2em;
	height: 100%;
	padding: 0.8em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.card .front strong {
	background: #fff;
	border-radius: 100%;
	color: #f9d972;
	font-size: 1.5em;
	line-height: 30px;
	padding: 0 7px 4px 6px;
}

.card .back {
	transform: rotateY(180deg);
}

.card .back a {
	padding: 0.3em 0.5em;
	background: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 1px;
	font-size: 0.9em;
	transition: all 0.2s ease 0s;
}


.card .back a:hover {
	background: #fff;
	color: #333;
	text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .front {
background:url(../../images/demo/menudegustacion/Canelones_rellenos_pulpo_salsa.jpg) center;
}

.cardBox:nth-child(2) .card .front {
	background: url(../../images/demo/menudegustacion/colaslangostino.jpg) center;
	background-position: center;
}

.cardBox:nth-child(3) .card .front {
	background: url(../../images/demo/menudegustacion/croquetas.jpg);
	background-position: center;
	
}

.cardBox:nth-child(4) .card .front {
	background: url(../../images/demo/menudegustacion/pollo.jpg);
	background-position: center;

}

.cardBox:nth-child(5) .card .front {
	background: url(../../images/demo/menudegustacion/rabotoroestofado.jpg);
	background-position: center;

}

.cardBox:nth-child(6) .card .front {
	background: url(../../images/demo/menudegustacion/salmonahumado.jpg);
	background-position: center;
}

.cardBox:nth-child(7) .card .front {
	background: url(../../images/demo/menudia/cremazanahoria.jpg);
	background-position: center;

}

.cardBox:nth-child(8) .card .front {
	background: url(../../images/demo/menudia/caldo.jpg);
	background-position: center;
}

.cardBox:nth-child(9) .card .front {
	background: url(../../images/demo/menudia/merluza.jpg);
	background-position: center;

}

.cardBox:nth-child(10) .card .front {
	background: url(../../images/demo/menudia/pastamixta.jpg);
	background-position: center;

}

.cardBox:nth-child(11) .card .front {
	background: url(../../images/demo/menudia/polloasado.jpg);
	background-position: center;

}

.cardBox:nth-child(12) .card .front {
	background: url(../../images/demo/menudia/terneraasada.jpg);
	background-position: center;

}

.cardBox:nth-child(13) .card .front {
	background: url(../../images/demo/postres/flan.jpg);
	background-position: center;
}

.cardBox:nth-child(14) .card .front {
	background: url(../../images/demo/postres/flan_Queso.jpg);
	background-position: center;

}

.cardBox:nth-child(15) .card .front {
	background: url(../../images/demo/postres/milhojas_merengue_limon.jpg);
	background-position: center;

}

.cardBox:nth-child(16) .card .front {
	background: url(../../images/demo/postres/mousse.jpg);
	background-position: center;

}

.cardBox:nth-child(17) .card .front {
	background: url(../../images/demo/postres/sorbetelimon.jpg);
	background-position: center;

}

.cardBox:nth-child(18) .card .front {
	background: url(../../images/demo/postres/Tarta_queso.jpg);
	background-position: center;

}

.cardBox:nth-child(19) .card .front {
	background: url(../../images/demo/postres/toffedeavellanas.jpg);
	background-position: center;

}

.cardBox:nth-child(20) .card .front {
	background: url(../../images/demo/postres/torta_morango.jpg);
	background-position: center;

}


.cardBox:nth-child(2) .card {
	-webkit-animation: giro 1.5s 1;
	animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
	-webkit-animation: giro 2s 1;
	animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
	-webkit-animation: giro 2.5s 1;
	animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
	from {
		transform: rotateY(180deg);
	}

	to {
		transform: rotateY(0deg);
	}
}

@keyframes giro {
	from {
		transform: rotateY(180deg);
	}

	to {
		transform: rotateY(0deg);
	}
}

@media screen and (max-width: 767px) {
	.cardBox {
		margin-left: 2.8%;
		margin-top: 3%;
		width: 46%;
	}

	.card {
		height: 285px;
	}

	.cardBox:last-child {
		margin-bottom: 3%;
	}
}

@media screen and (max-width: 480px) {
	.cardBox {
		width: 94.5%;
	}

	.card {
		height: 260px;
	}
}
