@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


*{
    padding: 0;
    margin: 0;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size:14px;
  max-width:1920px;
  margin:0 auto;
	overflow-x:hidden;
}


h1,h2,h3,h4,h5,h6 { 
	margin: 0;
	color:#343a3f;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

p {
	margin: 0;
	color:#767f86;
	font-size:14px;
  line-height: 1.8;
  text-transform: initial;
}

select,
input,
textarea,
button {
  box-shadow:none;
  outline:0!important;
}

button {
  background: transparent;
  border: 0;
  font-size: 12px;
}

html,body{height: 100%;}

[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s 0.3s ease; 
  -moz-transition: opacity 0.3s 0.3s ease; 
  -ms-transition: opacity 0.3s 0.3s ease; 
  -o-transition: opacity 0.3s 0.3s ease; 
  transition: opacity 0.3s 0.3s ease; 
  opacity: 0;
}



.top-area {
    background-color: #ffffff;
    position: absolute;
    top: 0;
}

.nav-container {
    position: absolute;
    top: 0;
}

.fondo {
    background: url(../../imagenes/hojas2.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

.fondo:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    background:rgba(87, 91, 99, 0.267);
    z-index: -1;
}


/* -------------------NOVELAS------------------- */

.titulo{
    font-family: "Chewy", system-ui;
    font-size: 45px;
    color: #548486;
    letter-spacing: .1em;
    text-shadow: 2px 3px 10px #426a6ba4;
    padding-left:  20px;
    margin-bottom: 0;  
}

.novela{
    font-size: 1.5em;
}


.link-plain,
.link-plain:hover,
.link-plain:active,
.link-plain:visited {
    text-decoration: none;
}

.link-plain-f,
.link-plain-f:hover,
.link-plain-f:active,
.link-plain-f:focus,
.link-plain-f:visited {
    color: initial;
    text-decoration: none !important;
}

.div-center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#va_container {
    position: relative;
    max-width: 1140px;
    margin: auto;
}

.va-thumbnail {
    width: 100%;
    transition: all 0.4s ease-out;
}

.va-thumbnail:hover {
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
}

.va-title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
}

.va-carrousel-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4em;
}


.va-card {
    cursor: pointer;
}



@media (min-width: 768px) {
    .va-card {
        width: 130px;
    }
}


.va-carrousel::-webkit-scrollbar,
.va-carrousel-flexbox::-webkit-scrollbar {
    display: none;
}


.va-title {
    margin-top: 8px;
    font-size: 15px;
    max-height: 3em;
    overflow: hidden;
    color: black;
    font-weight: 700;
}

@media (min-width: 768px) {
    .va-title {
        font-size: 13px;
    }
}

.va-start-from {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.va-points {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    color: white;
}

.deals-paddle {
    height: 38px;
    width: 38px;
    color: white;
    background-color: #00000089;
    border-radius: 50%;
    border: 0px solid;
    margin: auto;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deals-paddle:focus {
    outline: none;
}

.deals-paddle:active {
    border-style: solid;
    outline: none;
    user-select: none;
}

.deals-paddle svg {
    width: 10px;
}

@media (min-width: 768px) {
    .other-game-button {
        width: 300px;
    }
}

.deals-scroll-left {
    top: 0;
    left: 5px;
    bottom: 0;
}

.deals-scroll-right {
    top: 0;
    bottom: 0;
    right: 5px;
}

.va-carrousel-section {
    /* position: relative; */
}

@media (min-width: 768px) {

    .va-carrousel-section {
        padding-left: 35px;
        padding-right: 40px;
    }
}

.va-whitewrap {
    width: 65%;
    /* height: 60vh; */
    margin: 0 auto;
    padding: 4rem;
    background-color: #ffffffe3;
    box-shadow: 1px 1px 20px #000000;
    margin-top: 20em;
    margin-bottom: 5em;
}

.va-seeall {
    display: block;
    font-size: 18px;
    font-weight: 700;
    border-top: 1px solid #DDDDDD;
    text-align: center;
    padding: 10px;
}
